html, body {
	font-family: 'Ubuntu Condensed', sans-serif;
}
.tbl-CRUD td:nth-child(11) {
	width: 10%;
}
.none {
	display: none;
}
.w100 {
	width: 100% !important;
}
.mini-footer {
	font-size: 11px;
	background-color: #333;
	color: #fff;
	padding: 8px;
}
.mini-footer a {
	text-decoration: none;
}